button {
    cursor: pointer;
}
.container { 
    width: 1280px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px; 
    }
    a {
        text-decoration: none;
        display: block; 
        padding: 24px 0;
        }
    img {
        display: block;
    }
    ul {
        list-style-type: none;
        font-style: normal;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        }
    .container-top .container-bottom {
        display: flex;
    }   
    .favorites-bottom {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 48px;
    } 
    .upper-nav {
        display: flex;
        align-items: center;        
    }
    .contact-nav {
        display: flex;
        gap: 40px;
    }
    .order-button {
        color: #2c2c2c;
        background-color: #BBF330; 
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        text-align: center;
        display: block;
        min-width: 169px;
        height: 56px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin-right: auto; 
        margin-left: auto;
    }   
    .footer-web .policy {
        display: flex;
    }